<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modificar Usuario</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container mt-5">
      <div class="card">
        <div class="card-header">
          <h2>Modificar Usuario</h2>
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            <div class="mb-3">
              <label for="{{ form.username.id_for_label }}">Username:</label>
              {{ form.username }}
            </div>
            <div class="mb-3">
              <label for="{{ form.email.id_for_label }}">Email address:</label>
              {{ form.email }}
            </div>

            <button type="submit" class="btn btn-primary">
              Guardar cambios
            </button>
          </form>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>
  </body>
</html>
